{
  "plugins": ["react", "react-hooks", "prettier"],
  "env": {
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "globals": {
    "document": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    // 여기에 사용자 정의 규칙을 추가할 수 있습니다.
    "indent": ["off"],
    "no-var": "error",
    "require-await": "error",
    "eqeqeq": "warn",
    "react/prop-types": 0,
    "no-unused-vars": "off",
    "camelcase": "error",
    "dom/no-document": "off",
    "semi": ["error", "always"],
    "no-extra-semi": "error",
    "prettier/prettier": ["error", { "endOfLine": "auto" }]
  }
}
